.App {
  text-align: center;
  background: #282c34;
  height: 100vh;
  color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counting {
  text-align: center;
  font-size: 40px;
  font-style: bold;
  height: 20vh;
  margin-bottom: 10vh;
}

.time-form:focus {
  text-align: center;
  background: #282c34;
  border: none;
  font-size: 40px;
  font-style: bold;
  height: 20vh;
  margin-bottom: 10vh;
  color: white;
}
.time-form {
  text-align: center;
  background: #282c34;
  border: none;
  font-size: 40px;
  font-style: bold;
  height: 20vh;
  margin-bottom: 10vh;
  color: white;
}

.my-menu {
  position: absolute;
  background: rgba(112, 112, 172, 0.98);
  border-radius: 50px;
  box-shadow: 8px 7px #277174a1;
  height: 40vh;
  width: 100%;
  margin-bottom: 10vh;
  z-index: 10;
}

.complete-bnr {
  margin-top: 10vh;
}

.top-nav {
  display: grid;
  align-content: center;
  height: 14vh;
}

.complete {
  cursor: pointer;
  justify-items: center;
  position: absolute;
  background: rgba(66, 25, 50, 0.98);
  border-radius: 150px;
  box-shadow: 8px 7px #277174a1;
  height: 20vh;
  width: 100%;
  margin-bottom: 10vh;
  z-index: 10;
}
.btn-loca {
  font-size: 20px;
  height: 10vh;
  width: 60vw;
  margin-top: 30%;
  margin-bottom: 5%;
}

.icon {
  cursor: pointer;
  margin-right: 8%;
  text-align: right;
  font-size: 30px;
  transition: opacity 0.2s;
  opacity: 0.6;
}

.icon:hover {
  transition: opacity 0.4s;
  opacity: 1;
}
