.App {
  text-align: center;
  background: #282c34;
  height: 100vh;
  color: white;
}

.counting {
  text-align: center;
  font-size: 40px;
  font-style: bold;
  padding: 10%;
  height: 20vh;
  margin-bottom: 10vh;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.time-form:focus {
  text-align: center;
  background: #282c34;
  border: none;
  font-size: 40px;
  font-style: bold;
  height: 20vh;
  margin-bottom: 10vh;
  color: white;
}
.time-form {
  text-align: center;
  background: #282c34;
  border: none;
  font-size: 40px;
  font-style: bold;
  height: 20vh;
  margin-bottom: 10vh;
  color: white;
}
